<div>
  <div class="col-md-6 border-right">
    <h2><i class="bi bi-bookmark-star"></i> Made for and by developers</h2>
    <p>
      Inject the proxy in your <code>docker-compose.yaml</code> or even
      <code>compose.yaml</code>, do not change labels. Done !
    </p>
    <p>Pathwae is built to do things fast.</p>
  </div>
  <div class="col-md-6">
    <ul>
      <li>
        No configuration file required
        <up><a title="But you can use a file too!" href="#conf-file">*</a></up>
      </li>
      <li>No container modification</li>
      <li>Auto TLS/SSL</li>
      <li>Works with Docker, Podman, compose...</li>
    </ul>
  </div>
</div>
