<h2>Opensource, free, on Github</h2>
<div class="shadow rounded row col-md-6 p-4">
    <div class="col-md-6">
        <h3>It's free!</h3>
        <p>Pathwae is opensource - developped with Go for the proxy part, and VueJS (in Typescript) for the Web UI</p>
        <p>License is <a href="https://opensource.org/licenses/MIT" target=""_blnak"">MIT</a></p>
        <p>Please, star and follow the project</p>
    </div>
    <div class="col-md-6">
        <p>
            <strong>Resources:</strong>
        </p>
        <ul class="list">
            <li><a href="https://github.com/pathwae/proxy" target="_blnak">On github</a></li>
            <li><a href="https://quay.io/repository/pathwae/proxy" target="_blank">Container on Quay.io</a> </li>
        </ul>
    </div>
</div>
