<h2><i class="bi bi-shield-check"></i> Auto TLS/SSL</h2>
<div class="row shadow rounded p-4 mt-4 col-md-8">
  <div class="col-md-6">
    <h3>Let Pathwae to help you</h3>
    <p>
      If you don't provide certificates, Pathwae generates temporary TLS
      certificates.
    </p>
    <p>
      Of course, these certificates are not "trusted", but they are "valid".
    </p>
  </div>
  <div class="col-md-6">
    <h3>Or give your certificates</h3>
    <p>
      You can generate tusted certificates (with <code>mkcert</code> for
      example) and then mount the directory to <code>/certs</code>
    </p>
    <p>
      Pathwae will automatically find the certificates and the corresponding
      hosts to use with.
    </p>
  </div>
</div>
