<h2><i class="bi bi-shield-check"></i>Auto TLS/SSL</h2>
<div>
  <div class="col-md-6">
    <h3><i class="bi bi-code-slash"></i> Let Pathwae to help you</h3>
    <p>
      If you don't provide certificates, Pathwae generates temporary TLS
      certificates.
    </p>
    <p>
      Of course, these certificates are not "trusted", but they are "valid".
    </p>
  </div>
  <div class="col-md-6">
    <h3><i class="bi bi-file-earmark-code"></i>Or give your certificates</h3>
    <p>
      You can generate trusted certificates (with
      <code><a href="https://mkcert.dev/" target="_blank">mkcert</a></code> for
      example) and then mount the directory into <code>/certs</code> directory
      of Pathwae container.
    </p>
    <p>
      Pathwae will <strong>automatically find the certificates</strong> and the
      corresponding hosts to use with.
    </p>
    <p>And that works with wildcard certificates, of course.</p>
  </div>
</div>
