<h2><i class="bi bi-activity"></i>Monitor with UI</h2>
<div>
  <div class="col-md-6">
    <h3>Monitor with UI</h3>
    <p>
      Monitor your endpoints with UI. Also, you can pause a route, get
      certificate information or even change the endpoints addresses.
    </p>
    <p>Everything is <strong>real-time</strong>.</p>
    <p>
      Simply bind the <code>8080</code> port to localhost, and visit
      http://localhost:8080
    </p>
  </div>
  <div class="col-md-6">
    <img src="images/ui.png" class="w-100 rounded shadow fullable" alt="" />
  </div>
</div>
