<h2><i class="bi bi-wrench"></i> Declare the routes</h2>
<div class="row shadow rounded p-4 mt-4">
  <div class="col-md-6 border-right">
    <h3><i class="bi bi-code-square"></i> Example</h3>
    <pre class="language-yaml">
    <code>
services:
  foocontainer:
    # Your container here listening, for example, on port 5000.
    # No label, no port to bind...

  proxy:
    # Pathwae!
    image: quay.io/pathwae/proxy
    ports:
    - "80:80"
    - "443:443"
    - "8080:8080"
    environment:
    - CONFIG: |
        foo.bar.localhost:
          # foocontainer port 5000
          to: http://foocontainer:5000
          force_ssl: true
    </code></pre>
    <p>And navigate to <code>http://foo.bar.localhost</code></p>
    <p>
      <code>force_ssl</code> will automatically redirect the browser to
      <code>https</code>.
    </p>
  </div>
  <div class="col-md-6">
    <h3>
      <i class="bi bi-emoji-sunglasses-fill"></i> No label to adapt, no
      arguments to change, no configuration file to mount.
    </h3>
    <p>
      Everything is declared on the proxy container environment. This is the
      "standard" for containers.
    </p>
    <p>
      You also don't need to use <code>depends_on</code> because the proxy
      doesn't need to wait for backends containers.
    </p>
    <p>
      The port <code>8080</code> provides a simple
      <a href="#ui">monitor</a> view of the backend.
    </p>
    <h3><i class="bi bi-command"></i> What about "rootless" containers?</h3>
    <p>
      You're using <code>Podman?</code> - Good news, that works! Pathwae does
      not use Docker API, you don't need to mount the socket file, everthing is
      controlled by the environment.
    </p>
    <p>
      You only need to allow your standard user to open
      <code>80/443</code> ports with this command:
    </p>
    <p>That's simple:</p>
    <pre class="language-bash"><code>
sudo sysctl -w net.ipv4.ip_unprivileged_port_start=0
    </code></pre>
  </div>
  <div class="mt-md-4">
    <h4>
      <i class="bi bi-lightbulb"></i>
      Need a "near the reality" domain name!
    </h4>
    <p>
      One solution (Docker only for the moment): set a
      <code>hostname</code> on the pathwae container and use
      <a href="https://github.com/metal3d/docker-domains" target="_blank"
        >Docker-Domains</a
      >
      daemon to have local domains.
    </p>
    <p>
      <a href="https://github.com/metal3d/docker-domains" target="_blank"
        >Docker-Domains</a
      >
      is a nice daemon that allow you to use whatever the domain you want, even
      <code>.com</code> domains!
    </p>
  </div>
</div>
